<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="Azure">
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
          <virtualFields type="Sitecore.ContentSearch.VirtualFieldProcessorMap, Sitecore.ContentSearch">
            <processors hint="raw:AddFromConfiguration">
              <add fieldName="_isavailable" type="Sitecore.Publishing.Service.Delivery.ContentSearch.VirtualFields.IsAvailable, Sitecore.Publishing.Service.Delivery" />
            </processors>
          </virtualFields>
          <documentOptions type="Sitecore.ContentSearch.Azure.CloudSearchDocumentBuilderOptions,Sitecore.ContentSearch.Azure">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="versionsunrisedate">Sitecore.Publishing.Service.Delivery.ContentSearch.ComputedFields.VersionSunriseDate,Sitecore.Publishing.Service.Delivery</field>
              <field fieldName="versionsunsetdate">Sitecore.Publishing.Service.Delivery.ContentSearch.ComputedFields.VersionSunsetDate,Sitecore.Publishing.Service.Delivery</field>
              <field fieldName="publishablefrom">Sitecore.Publishing.Service.Delivery.ContentSearch.ComputedFields.PublishableFrom,Sitecore.Publishing.Service.Delivery</field>
              <field fieldName="publishableto">Sitecore.Publishing.Service.Delivery.ContentSearch.ComputedFields.PublishableTo,Sitecore.Publishing.Service.Delivery</field>
            </fields>
          </documentOptions>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
